body {
    font-family: 'Nunito', sans-serif;
    margin:20px;
}
.sizeForm{
    width:600px;
    height:100px;
    display:flex;
    flex-direction:row;
    justify-items: center;
    align-items: end;
    margin:13px auto 10px;
}
#days{
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(7, 2fr);
    justify-items: space-between;
    text-align: center;
    max-width:1200px;
    margin:10px auto ;
    
}
.day{
    height:6rem;
    list-style:none;
}
#monthAndYear{
    text-align:center;
    margin:17px;
}
.center{
    display:flex;
    justify-content:center;
}
button{
    border:none;
    background:none;
}
.eventsOfDay{
    display:flex;
    justify-content:space-between;
    font-size:12px;
    text-align:start;
    align-items: end;
}
.eventButtons{
    display:flex;
    justify-content:end;
}